<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="ui-g-2 ui-sm-12 ui-fluid">
        <h3>Produtos</h3>
      </div>
      <div class="ui-g-6 ui-sm-12 ui-fluid">
        <input pInputText placeholder="Pesquisar Itens">&nbsp;
      </div>
      <div class="ui-g-2 ui-sm-12 ui-fluid">
        <button class="btn btn-default">
          Buscar
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div class="ui-g-2">
        <a class="btn btn-primary pull-right" routerLink="novo">Novo Item</a>
      </div>
    </div>
  </div>

  <div class="ui-g">

    <div class="ui-g-12">

      <p-table [value]="produtos" responsive="true">
        <ng-template pTemplate="caption">
          Listagem de produtos
          <!--
          <div class="btn-right">
            <button pButton type="button" icon="pi pi-plus" routerLink="novo"></button>
          </div>-->
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th class="col-header-id">#</th>
            <th class="col-header-codint">Código</th>
            <th class="col-header-codigobr">Codigo de Barras</th>
            <th class="col-header-item">Descrição do produto</th>
            <th class="col-header-valor">Valor</th>
            <th class="col-header-acoes">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
          <tr>
            <td>
              <span class="ui-column-title">#</span>
              {{produto.id}}
            </td>
            <td>
              <span class="ui-column-title">Código</span>
              {{produto.codigoInterno}}              
            </td>
            <td>
              <span class="ui-column-title">Código de Barras</span>
              {{produto.codigoBarras}}              
            </td>

            <td>
              <span class="ui-column-title">Descrição do produto</span>
              {{produto.nome}}
            </td>
            <td>
              <span class="ui-column-title">Valor</span>
              {{produto.valor | currency: 'R$ '}}
            </td>
            <td>
              <button pButton icon="pi pi-check" class="btn-check"></button>&nbsp;
              <button pButton icon="pi pi-pencil" class="btn-pencil"></button>&nbsp;
              <button pButton icon="pi pi-trash" class="btn-delete"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>