<div class="container">

  <div class="ui-g">
    <div class="ui-g-12">
      <h3>Novo produto</h3>
    </div>
  </div>

  <div class="ui-g">
    <form (ngSubmit)="criar()" [formGroup]="produtoForm">
      <div class="ui-g-12">
        <div class="ui-g-4 ui-sm-12 ui-fluid">
          <label>Código</label>
          <input pInputText formControlName="codigoInterno" #codigoInterno />
        </div>
        <div class="ui-g-8 ui-sm-12 ui-fluid">
          <label>Código de Barras</label>
          <input pInputText formControlName="codigoBarras" #codigoBarras />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-7 ui-sm-12 ui-fluid">
          <label>Descrição do Item</label>
          <input pInputText formControlName="nome" #nome />
        </div>
        <div class="ui-g-5 ui-sm-12 ui-fluid">
          <label>Valor</label>
          <input pInputText formControlName="valor" #valor />
        </div>
      </div>
      <div class="ui-g-12">
        <button type="submit" class="btn btn-primary" [disabled]="!produtoForm.valid">Salvar</button>&nbsp;
        <button type="button" class="btn" routerLink="/produtos">Listar</button>
      </div>
    </form>
  </div>
</div>